/* default */
html {
    font-size: 62.5%; color: #24292E;
}
body {
    background-color: #F4F5F5;
    padding: 0; font-size: 1.4rem; line-height: 1.5rem; letter-spacing: 1px;
}
h1, h2, h3 {
    margin-top: 10px; margin-bottom: 10px; letter-spacing: 2px; font-weight: 500;
}
hr {
    margin: 20px 0; border: none;border-top: 1px solid #dde;
}
a {
    cursor: pointer; color: #333
}
a:hover {
    color: #333; text-decoration: underline
}
.a:hover {
    text-decoration: none
}
p {
    margin: 0; padding: 10px 0;
}
table {
    width: 100%; border-collapse: collapse; font-size: 13px; font-family: 微软雅黑;
}
table th, table td {
    padding: 6px 2%; border: 1px solid #dde; color: #58595E;
}
blockquote {
    margin: 0; padding: 1px 30px; border-left: 3px solid #DFE2E5; color: #55595E;
}
pre {
    padding: 15px; border-radius: 3px; background-color: #F6F8FA; color: #333; font-size: 12px;
}
blockquote, pre, table {
    margin-bottom: 30px;
}

/* form */
button {
    cursor: pointer;
}
button, input, textarea{
    padding: 4px 10px;outline:0;border:1px solid #ddd;font-size: 13px;
}
button:hover, input:focus, textarea:focus{
    border:1px solid #888;
}

/* view */
.view {
    width: 1200px; padding: 0 10px; margin: 0; position: relative; margin: 0 auto;
}
.content {
    width: 75%; position: relative;
}
.sidebar {
    width: 22%; position: relative;
    /* position: absolute; top: 0; right: 10px */
}

/* markdown */
.markdown img {
    width: 100%;
}
.markdown {
    position: relative; padding: 50px 80px; overflow: hidden;
    border: 1px solid #EEE; background-color: #FFF; text-overflow: ellipsis;
    font-size: 16px; line-height: 30px; font-weight: 400; color: #333;
}

/* media */
@media only screen and (max-width: 800px) {
    .view, .content { width: 100%;}
    .sidebar { display: none;}
    .markdown {
        padding: 50px 0; width: 100%; border: none;
    }
    body { background-color: #fff;}
}

/* 自定义内容卡片 */
.card-box {
    background-color: #fff;
    border: 1px solid #eee;    
    width: 660px;
    margin-top: 30px;
    padding: 50px 35px;
    border-radius: 4px;
}

.card-box>b {
    font-size: 23px;
}
