html{background-color:#f4f5f5;color:#24292e;font-size:62.5%}
body{padding:0;font-size:1.4rem;line-height:1.5rem;letter-spacing:.0625rem}
h1,h2,h3{margin-top:10px;letter-spacing:.125rem;font-weight:400}
hr{margin:10px 0;border:none;border-top:1px solid #dde}
a{color:#06f;text-decoration:none;cursor:pointer}
a:hover{text-decoration:underline}
ol,ul{padding:0 20px;font-family:微软雅黑}
li{padding:2px 0}
p{line-height:1.25rem}
table{width:100%;border-collapse:collapse;font-size:.8125rem;font-family:微软雅黑}
table td,table th{padding:6px 2%;border:1px solid #dde;color:#58595e}
blockquote{margin:0;padding:1px 30px;border-left:3px solid #dfe2e5;color:#55595e}
pre{padding:15px;border-radius:3px;background-color:#f6f8fa;color:#333;font-size:.75rem}
blockquote,pre,table{margin-bottom:30px}
.view{width:75pc;position:relative;margin:0 auto}
.content img{width:100%}
.content{width:50pc;position:relative;padding:50px 40px;overflow:hidden;border-right:1px solid #eee;border-left:1px solid #eee;background-color:#fff;text-overflow:ellipsis}
@media only screen and (max-width:700px){.content{padding:50px 0;border:none}
.content,.view{width:100%}
}
